In [2]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv("../data/row_data/career_dataset.csv")
df.head()

                   career                     skills    interest
0      Software Developer            Python;Java;SQL  Technology
1          Data Scientist       Python;ML;Statistics        Data
2           Web Developer        HTML;CSS;JavaScript      Design
3  Cyber Security Analyst  Networking;Linux;Security    Security
4       Backend Developer    Node.js;Express;MongoDB         Web

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   career    500 non-null    object
 1   skills    500 non-null    object
 2   interest  500 non-null    object
dtypes: object(3)
memory usage: 11.8+ KB

In [6]:
df.isnull().sum()

career      0
skills      0
interest    0
dtype: int64

In [7]:
print("Rows:", df.shape[0])
print("Columns:", df.shape[1])

Rows: 500
Columns: 3