In [1]:
import pandas as pd
import re

In [2]:
df = pd.read_csv("../data/row_data/career_dataset.csv")

In [3]:
def clean_text(text):
    text = text.lower()
    text = re.sub(r'[^a-zA-Z, ]', '', text)
    return text

In [4]:
df["skills"] = df["skills"].apply(clean_text)
df["interest"] = df["interest"].apply(clean_text)

df.head()

                   career                   skills    interest
0      Software Developer            pythonjavasql  technology
1          Data Scientist       pythonmlstatistics        data
2           Web Developer        htmlcssjavascript      design
3  Cyber Security Analyst  networkinglinuxsecurity    security
4       Backend Developer     nodejsexpressmongodb         web

In [5]:
user_skills = input("Enter your skills (comma separated): ")
user_interest = input("Enter your interest: ")

user_profile = clean_text(user_skills + " " + user_interest)
print("User Profile:", user_profile)

User Profile: python java