In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../data/row_data/career_dataset.csv")
df.head()

                   career                     skills    interest
0      Software Developer            Python;Java;SQL  Technology
1          Data Scientist       Python;ML;Statistics        Data
2           Web Developer        HTML;CSS;JavaScript      Design
3  Cyber Security Analyst  Networking;Linux;Security    Security
4       Backend Developer    Node.js;Express;MongoDB         Web

In [7]:
user_skills = input("Enter your current skills: ").lower().split(",")
recommended_career = input("Enter recommended career: ")

In [14]:
# ðŸ”¹ Step 1: Show all available careers
print("Available careers:")
print(df['career'].unique())

# ðŸ”¹ Step 2: Check if the recommended career exists
print(f"\nLooking for: '{recommended_career}'")
career_row = df[df["career"] == recommended_career]

if not career_row.empty:
    print("âœ… Match found! This career is available in our list.")
else:
    print(" Career not found.")
    print("Did you mean one of these similar careers?")
    # Find similar career names (case-insensitive)
    similar = df[df['career'].str.contains(recommended_career, case=False, na=False)]
    print(similar['career'].head())

Available careers:
['Software Developer' 'Data Scientist' 'Web Developer'
 'Cyber Security Analyst' 'Backend Developer' 'Frontend Developer'
 'Full Stack Developer' 'ML Engineer' 'Cloud Engineer' 'DevOps Engineer']

Looking for: 'css'
 Career not found.
Did you mean one of these similar careers?
Series([], Name: career, dtype: object)